    <header id="navbar" class="glass-header container">
        <div class="logo">EDUOOZ.</div>
        
        <div class="mobile-menu-toggle" id="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <nav class="nav-links">
            <a href="#courses" class="hover-underline">Courses</a>
            <a href="#about" class="hover-underline">About Us</a>
            <a href="contact.html" class="hover-underline">Contact Us</a>
        </nav>
        <a href="#demo" class="btn-glass-sm magnetic-btn header-cta">Free Demo</a>
    </header>
